@charset "UTF-8";
/* CSS Document */

td {
   text-align: center;
   width: 600px;
}

table {
   margin-left: 70px;
   margin: 0;
   padding: 0;
   border-spacing: 0;
   -webkit-border-horizontal-spacing: 0;
   -webkit-border-vertical-spacing: 0;
   cellspacing: 0;
}

.left {
   width: 250px;
   border-top: 1px solid;
   border-right: 1px solid;
   padding-top: 10px;
   padding-bottom: 10px;
}


.right {
   width: 250px;
   border-top: 1px solid;
   padding-top: 10px;
   padding-bottom: 10px;
}

.both {
   border-top: 1px solid;
   padding-top: 10px;
   padding-bottom: 10px;
}

.time {
   width: 100px;
   text-align: left;
}

h2.schedule {
   padding-bottom: 10px;
   font-size: 20px;
}

