@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	color: #696969;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans, sans-serif;
	list-style-type: none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

/* 
 * Must declare 0 margins on everything. Use padding for main layout components, not vertical margins (top and bottom)
 * to add spacing, else those margins get added to total height the footer gets pushed down a bit more, creating vertical 
 * scroll bars in the browser.
 */
html, body {
	height: 100%;
}

a {
	text-decoration: none;
}

p {
	padding-bottom: 16px !important;
}
strong {
	font-weight: bold;
}
a {
	color: #4662AD;
}

/******** Headers ********/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

h1 {
	font-weight: bold !important;
}

h2 {
	font-weight: bold;
	padding: 8px 0px;
}

#header {
	width: 964px;
	margin: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	display: block;
	position: relative;
}
#logo {
	display: block;
	position: relative;
}
#logo a {
	background: url("../images/rp2011.png") no-repeat scroll 0 0 transparent;
	width: 850px;
	height: 116px;
	margin: 0 auto;
	text-indent: -9999px;
	display: block;
	position: relative;
}
#navigation {
	height: 36px;
	width: 964px;
	margin: auto;
	line-height: 36px;
}

/******** Announce bar ********/
#announcement {
	border-bottom: 1px #c4c4c4 solid;
	background-color: #efefef;
	height: 25px;
	text-align: center;
}

#announcement p, #announcement a:link {
	font-size: 20px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #CCC;
}

#announcement a:hover {
	color: #25418A;
	cursor: pointer;
}

/******** Content ********/
#wrapper {
	min-height: 100%;
	min-width: 964px;
	position: relative;
}

#content-wrapper {
	min-height: 400px;
	width: 964px;
	margin: auto;
	position: relative;
}

#content {
	color: #333;
	font-family: Tahoma, Geneva, sans, sans-serif;
	width: 800px;
	margin: auto;
	padding-bottom: 150px;
	position: relative;
	clear: both;
	overflow-x: auto;
	overflow-y: visible;
}

/******** Orbit Plugin ******/
#featured-images {
	display: none;
	width: 640px;
	height: 427px;
	background: #000 url('orbit/loading.gif') no-repeat center center; overflow: hidden;
}

#featured-images img,
#featured-images div {
	display: none;
}

.orbit-wrapper {
	padding-bottom: 10px;
	margin: auto;
}

/******** Count Down ********/
#counter-wrapper {
	height: 328px;
	position: relative;
}

#counter {
	height: 120px;
	width: 964px;
	margin: auto;
	position: relative;
}

.countdown_section, .countdown_amount {
	color: #333;
	font-family: Tahoma, Geneva, sans, sans-serif;
}

#confdate {
	height: 48px;
	color: #333;
	font-size: 48px;
	line-height: 48px;
	padding: 16px 0px !important; 
	text-shadow: 0 -1px 0 #030;
}

/******** Attendee Registration Page *******/
.registration-heading {
	background-image: url('../images/page-headings.png');
	background-position: -37px 0px;
	font-size: 32px;
	position: absolute;
	top: 17px;
	left: 15px;
	width: 40px;
	height: 200px;
}

/******** About Page ********/
.about-heading {
	background-image: url('../images/page-headings.png');
	font-size: 32px;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 40px;
	height: 200px;
}

/******** Schedule Page ********/
.schedule-heading {
	background-image: url('../images/page-headings.png');
	background-position: -78px 0;
	font-size: 32px;
	position: absolute;
	top: 16px;
	left: 15px;
	width: 40px;
	height: 200px;
}

/******** Speakers Page ********/
#names {
	list-style: circle;
}

#temp_info {
	z-index: 5;
	position: absolute;
	width: 1000px;
	height: 1000px;
	display:none;
}

.speaker {
	height: 225px;
	width: 200px;
	padding-top: 15px;
	float: left;
}

.speaker img {
	border: 1px solid #c4c4c4;
}

.speaker p {
	text-align: center;
	padding: 0 !important;
}

.speaker-pic {
	height: 150px;
	width: 150px;
	margin-left: 25px;
	text-align: center;
}

.speaker-name {
	margin-top: 4px;	
}

.speaker-name a {
	color: #4662ad;
	margin-top: 4px !important;
}

.speaker-name a:hover {
	color: #25418A;
	text-shadow: 1px 1px 1px #CCC;
	cursor: pointer;
}

.speaker-affiliation {
	margin: 0 !important;
}

.speaker-list-heading {
	background-image: url('../images/page-headings.png');
	background-position: -117px 0;
	font-size: 32px;
	position: absolute;
	top: 16px;
	left: 15px;
	width: 40px;
	height: 200px;
}

#i-speaker-name-title {
	font-size: 24px;
	margin-top: 16px;
}

#i-speaker-info {
	margin: 16px 0;
	overflow: auto;
}

#i-speaker-pic {
	border: 1px solid #4662AD;
	width: 250px;
	margin: 0 16px 16px 16px;
	float: right;
}

#i-speaker-bio {

}

#i-speaker-talks {
	
}

/******* Biography Page ******/

img.bio-shot {
    float: right;
    max-width: 250px;
    border: 2px solid #4662AD;
    margin: 20px 0 25px 50px;
}

hgroup.bio {
    margin-bottom: 35px;
}

hgroup.bio h2 {
    font-size: 35px;
    padding: 8px 0 0;
}

/******** Travel Page ********/
.travel-heading {
	background-image: url('../images/page-headings.png');
	background-position: -157px 0;
	font-size: 32px;
	position: absolute;
	left: 15px;
	top: 17px;
	width: 40px;
	height: 200px;
}

#details-directions {
	width: 375px;
	float: left;
}

#map-directions {
	float: right;
}

/******** Job Fair Page ********/
.job-fair-heading {
	background-image: url('../images/page-headings.png');
	background-position: -197px 0;
	font-size: 32px;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 40px;
	height: 200px;
}

/******** MechMania Page ********/
.mechmania-heading {
	background-image: url('../images/page-headings.png');
	background-position: -237px;
	font-size: 32px;
	position: absolute;
	left: 15px;
	top: 20px;
	width: 40px;
	height: 200px;
}

/******** Volunteers Page ********/
.volunteer-heading {
	background-image: url('../images/page-headings.png');
	background-position: -275px 0;
	font-size: 32px;
	position: absolute;
	left: 15px;
	top: 16px;
	width: 40px;
	height: 200px;
}

/******** Contact Us Page ********/
.contact-heading {
	background-image: url('../images/page-headings.png');
	background-position: -312px 0;
	font-size: 32px;
	position: absolute;
	left: 15px;
	top: 16px;
	width: 40px;
	height: 200px;
}

/******** Helper Classes ********/
.tab {
	margin-left: 25px;
}

.center {
	clear: both;
	text-align: center;
}

.clear {
	clear: both;
}
