@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	color: #696969;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans, sans-serif;
	list-style-type: none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

/* 
 * Must declare 0 margins on everything. Use padding for main layout components, not vertical margins (top and bottom)
 * to add spacing, else those margins get added to total height the footer gets pushed down a bit more, creating vertical 
 * scroll bars in the browser.
 */
html, body {
	height: 100%;
}
a:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
}

p {
	padding-bottom: 8px !important;
}
strong {
	font-weight: bold;
}
a {
	color: #4662AD;
}
a:hover {
    color: #25418a;
    text-shadow: 1px 1px 1px #CCCCCC;
}

/******** Headers ********/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

h1 {
	font-weight: bold !important;
}

h2 {
	font-weight: bold;
	padding: 8px 0px;
}

#header {
	width: 964px;
	margin: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	display: block;
	position: relative;
}
#logo {
	display: block;
	position: relative;
}
#logo a {
	background: url("../images/rp2011.png") no-repeat scroll 0 0 transparent;
	width: 850px;
	height: 116px;
	margin: 0 auto;
	text-indent: -9999px;
	display: block;
	position: relative;
}
#navigation {
	height: 36px;
	width: 964px;
	margin: auto;
	line-height: 36px;
}


/******** Announce bar ********/
#announcement {
	border-bottom: 1px #c4c4c4 solid;
	background-color: #efefef;
	height: 25px;
	text-align: center;
}

#announcement p, #announcement a:link {
	font-size: 20px;
	text-decoration: none;
}

/******** Content ********/
#wrapper {
	min-height: 100%;
	min-width: 964px;
	position: relative;
}

#content-wrapper {
	min-height: 400px;
	width: 964px;
	margin: auto;
	position: relative;
}

#content {
	color: #333;
	font-family: Tahoma, Geneva, sans, sans-serif;
	width: 800px;
	margin: auto;
	padding-bottom: 150px;
	position: relative;
	clear: both;
	overflow-x: auto;
	overflow-y: visible;
}

/******** Orbit Plugin ******/
#featured-images {
	display: none;	
}

.orbit-wrapper {
	padding-bottom: 10px;
	margin: auto;
}

/******** Count Down ********/
#counter-wrapper {
	height: 328px;
	position: relative;
}

#counter {
	height: 120px;
	width: 964px;
	margin: auto;
	position: relative;
}

.countdown_section, .countdown_amount {
	color: #333;
	font-family: Tahoma, Geneva, sans, sans-serif;
}

#confdate {
	height: 48px;
	color: #333;
	font-size: 48px;
	line-height: 48px;
	padding: 16px 0px !important; 
	text-shadow: 0 -1px 0 #030;
}


/******** About Page ********/
.about-heading {
	font-size: 32px;
	position: absolute;
	left: -30px;
	top: 50px;
}

/******** Schedule Page ********/
.schedule-heading {
	font-size: 32px;
	position: absolute;
	left: -55px;
	top: 75px;	
}

/******** Speakers Page ********/
#names {
	list-style: circle;
}

.speaker {
	height: 200px;
	width: 200px;
	margin-bottom: 16px;
	margin-top: 8px;
	float: left;
}

.speaker img {
	border: 1px solid #c4c4c4;
}

.speaker p {
	text-align: center;
	padding: 0 !important;
}

.speaker-pic {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}

.speaker-name {
	color: #4662ad;
	margin-top: 4px !important;
}

.speaker-affiliation {
	margin: 0 !important;
}

.speaker-list-heading {
	font-size: 32px;
	position: absolute;
	left: -55px;
	top: 75px;
}

/******** Travel Page ********/
.travel-heading {
	font-size: 32px;
	position: absolute;
	left: -31px;
	top: 51px;
}

/******** Job Fair Page ********/
.job-fair-heading {
	font-size: 32px;
	position: absolute;
	left: -42px;
	top: 62px;
}

/******** MechMania Page ********/
.mechmania-heading {
	font-size: 32px;
	position: absolute;
	left: -75px;
	top: 95px;
}

/******** Volunteers Page ********/
.volunteer-heading {
	font-size: 32px;
	position: absolute;
	left: -69px;
	top: 89px;	
}

/******** Contact Us Page ********/
.contact-heading {
	font-size: 32px;
	position: absolute;
	left: -66px;
	top: 86px;
}

/******** Helper Classes ********/
.tab {
	margin-left: 25px;
}

.center {
	clear: both;
	text-align: center;
}

.clear {
	clear: both;
}

.vertical-text {
	border-bottom: 2px solid;
	padding: 0 8px 4px 8px;
	-moz-transform: rotate(-90deg); 
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
